{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
    .posts {
        width: 80%;
        margin-left: 10%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .card {
        margin-bottom: 20px;
    }
    .card-body img {
        width: 100%;
    }
</style>
    <div class="search">
    <form action="/posts/" method="get">
        <input type="text" name="text">
        <input type="submit" value="search">
    </form>
    </div>
    <div class="posts">
        {% for product in products %}
            <div class="card" style="width: 18rem;">
  <div class="card-body">
    <img src="/media/{{ product.image }}/" alt="not found :(">
    <h5 class="card-title">{{ product.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ product.created_date }}</h6>
    <a href="/product/{{ product.id }}" class="card-link">Далее</a>
  </div>
</div>
        {% endfor %}
    </div>
    <div class="pages">
        {% for page in pages %}
            <a href="/posts/?page={{ page }}"><button>{{ page }}</button></a>
        {% endfor %}
    </div>

{% endblock %}